extends ./template/layout
block content
  br
  br
  .container
    .row
      .col-md-4
        img(src="/img/default_avatar.png" height="200px")
      .col-md-8
        h4 Profile
        p.
          <b>Name:</b> Wong Tai Man
        p.
          <b>Age:</b> 46
        p.
          <b>Address:</b> 0x0B45548a180a80B1d47A07b924491e0d3026E915
        a.btn.btn-primary(href="/patient") Medical Profile
        br
        br
        br
        br
      .col-md-12
        h4 Pending Requests
        table.table
          thead
            tr
              th(scope='col') Timestamp
              th(scope='col') Requestor
              th(scope='col') Duration (Days)
              th(scope='col') Status
              th(scope='col') Actions
          tbody
            each request in requests
              tr
                td= request.timestamp
                td= request.requestor
                td= request.duration
                td= request.status
                td
                  form(method="POST" action="/patientfunction/approve?durp="+request._id)
                    button.approve-doc.btn.btn-success(data-id=request.duration) 	&#10004;
                  form(method="POST" action="/patientfunction/delete?durp="+request._id)
                    button.remove-doc.btn.btn-danger(data-id=request.duration) &#10006;
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  +js('patientfunc.js')
